@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sauce+One:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body,p {
    font-family: "Manrope", sans-serif;
    margin: 0;
}

h1 {
    @apply text-5xl font-extrabold inline-block
}

h2 {
    @apply text-4xl
}

h3 {
    @apply text-2xl
}

h4 {
    @apply text-xl
}

p {
    @apply text-base
}

.page-center {
    max-width: 1280px;
    margin: 0 auto;
    width: 90%;
    position: relative;
}

/* swiper */

.swiper {
    padding: 2rem !important;
  }
  
  .swiper-slide {
      visibility: hidden;
    
  }
  
  .swiper-slide-active, .swiper-slide-next {
      visibility: visible;
  }

  .swiper-pagination {
    position: static !important;
  }

  .test {
    width: 124px;
    content: "";
  }
